<header><br><h1>New User</h1><br></header>
<br>

<%= render 'form', user: @user %>

<strong><%= link_to 'Back', home_index_url %></strong>
<br>
<% if session[:user_id] %>
    <strong><%= link_to 'Users', users_path %></strong>
<% end %>
